In [1]:
#Task-1 : Create a pandas dataframe (Dataframe name as 'df') (10 observations and 5 features)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [6]:
d = {'Name':['A','B','C','D','E','F','G','H','I','J'],'Age':[20,22,19,17,18,np.nan,24,23,25,np.nan],'Gender':['M','F','F','M','F','M','F','M','M','M'],'Salary':[15000,12000,10000,17000,15000,20000,22000,14000,13000,11000],'Attendance':['p','A','p','A','A','P','P','A','P','A']}
d

{'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
 'Age': [20, 22, 19, 17, 18, nan, 24, 23, 25, nan],
 'Gender': ['M', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'M'],
 'Salary': [15000,
  12000,
  10000,
  17000,
  15000,
  20000,
  22000,
  14000,
  13000,
  11000],
 'Attendance': ['p', 'A', 'p', 'A', 'A', 'P', 'P', 'A', 'P', 'A']}

In [7]:
df = pd.DataFrame(d)
df

  Name   Age Gender  Salary Attendance
0    A  20.0      M   15000          p
1    B  22.0      F   12000          A
2    C  19.0      F   10000          p
3    D  17.0      M   17000          A
4    E  18.0      F   15000          A
5    F   NaN      M   20000          P
6    G  24.0      F   22000          P
7    H  23.0      M   14000          A
8    I  25.0      M   13000          P
9    J   NaN      M   11000          A

In [8]:
#Task-2 : Check the info of 'df'

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         8 non-null      float64
 2   Gender      10 non-null     object
 3   Salary      10 non-null     int64
 4   Attendance  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [10]:
#Task-3 : Check the descriptive statistics of 'df'

In [11]:
df.describe()

           Age        Salary
count   8.0000     10.000000
mean   21.0000  14900.000000
std     2.9277   3842.742077
min    17.0000  10000.000000
25%    18.7500  12250.000000
50%    21.0000  14500.000000
75%    23.2500  16500.000000
max    25.0000  22000.000000

In [12]:
#Task-4 : Check the 4th index observation with 'loc' slicing operator

In [15]:
df.loc[4]

Name              E
Age            18.0
Gender            F
Salary        15000
Attendance        A
Name: 4, dtype: object

In [16]:
df.loc[4,'Name':'Attendance']

Name              E
Age            18.0
Gender            F
Salary        15000
Attendance        A
Name: 4, dtype: object

In [17]:
#Task-5 : Check the null values in your 'df'

In [19]:
df.isnull().any()

Name          False
Age            True
Gender        False
Salary        False
Attendance    False
dtype: bool

Name          False
Age            True
Gender        False
Salary        False
Attendance    False
dtype: bool